/home/sussing/ANALYSIS/DATASET_I/scratch/200RhoCrit
62.5_dm_
/home/sussing/ANALYSIS/DATASET_I/scratch/200RhoCrit/data_snaplist.txt
/home/sussing/ANALYSIS/DATASET_I/scratch/datasetI_trees
/home/sussing/ANALYSIS/DATASET_I/scratch/62.5_dm
/home/sussing/ANALYSIS/DATASET_I/scratch/datasetI_histograms
